version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      react-minor-and-patch:
        patterns:
          - "react"
          - "react-dom"
        update-types:
          - "minor"
          - "patch"
      eslint-stack:
        patterns:
          - "eslint"
          - "eslint-config-next"
          - "@typescript-eslint/*"
          - "@eslint/*"
          - "eslint-plugin-*"
  - package-ecosystem: "npm"
    directory: "/ui"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      react-minor-and-patch:
        patterns:
          - "react"
          - "react-dom"
        update-types:
          - "minor"
          - "patch"
      eslint-stack:
        patterns:
          - "eslint"
          - "eslint-config-next"
          - "@typescript-eslint/*"
          - "@eslint/*"
          - "eslint-plugin-*"
